<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - d.l.amp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/main")

    <link rel="manifest" href="~/manifest.json">
    <meta name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="192x192" href="~/images/94076900-4a02-afa7-d2fa-b9110108d887.webPlatform.png">

</head>

<body id="main" class="ng-cloak" ng-app="dlampWeb" ng-controller="mainController">
    <div>
        @Html.Partial("_SearchResult");
    </div>

    <div>
        @Html.Partial("_Header")
    </div>

    <div class="container body-content ">
        @RenderBody()
    </div>

    <div>
        @Html.Partial("_BottomMenu")
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ui.bootstrap")
    @Scripts.Render("~/bundles/swhandler")
    @Scripts.Render("~/bundles/Push")
    @RenderSection("scripts", required: false)

</body>
</html>
